import React from "react";
import ReactDOM from "react-dom";
import { act } from "react-dom/test-utils";
import useCounter from "./useCounter";

let container;

beforeEach(() => {
  container = document.createElement("div");
  document.body.appendChild(container);
  act(() => {
    ReactDOM.render(<TestDummy />, container);
  });
});

afterEach(() => {
  document.body.removeChild(container);
  container = null;
});

const TestDummy = () => {
  const { count, dec, inc } = useCounter();
  return (
    <div>
      <button id="inc" onClick={inc}>
        +
      </button>
      <button id="dec" onClick={dec}>
        -
      </button>
      <span id="count">{count}</span>
    </div>
  );
};
