import React from "react";

const themeDefault = { color: "light" };
export const ThemeContext = React.createContext(themeDefault);

export const ThemeProvider = ({ color, children }) => {
  return (
    <ThemeContext.Provider value={{ color }}>{children}</ThemeContext.Provider>
  );
};
