const React = require("react");

const Counter = React.createClass({
  getInitialState: function() {
    return { count: this.props.initialCount || 0 };
  },
  handleClick: function() {
    this.setState({
      count: this.state.count + 1
    });
  },
  render: function() {
    return (
      <div>
        <h1>Count {this.state.count}</h1>
        <button onClick={this.handleClick}>+</button>
      </div>
    );
  }
});
