import React, { useState, useEffect } from "react";

export const Message = () => {
  const [message, setMessage] = useState("No Message");

  useEffect(() => {
    DataSource.addChangeListener(setMessage);
    return () => DataSource.removeChangeListener(setMessage);
  }, []);

  return <h1>{message}</h1>;
};
